body {
  color: #333;
}

@media (max-width: 350px) {
  h1 {
    font-size: 3.55285rem !important;
    line-height: 2.975rem !important;
    margin-bottom: 1.625rem !important;
    margin-top: 0px !important;
  }
}

#categories {
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}

#categories li {
  margin-bottom: 0.1rem !important;
  position: relative;
  list-style-type: none;
  /* = (100-2.5) / 3.5 */
  width: 27.85714285714286%;
  /* =  width /0.866   */
  padding-bottom: 32.16760145166612%;
  float: left;
  background: #444;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#categories li:before {
  position: absolute;
  content: '';
  top: 3px; /* border width */
  left: 3px; /* border width */
  height: calc(100% - 6px); /* 100% - (2 * border width) */
  width: calc(100% - 6px); /* 100% - (2 * border width) */
}

#categories li,
#categories li:before {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#categories li:nth-child(3n + 2) {
  margin: 0 1%;
}
#categories li:nth-child(6n + 4) {
  margin-left: 0.5%;
}
#categories li:nth-child(6n + 4),
#categories li:nth-child(6n + 5),
#categories li:nth-child(6n + 6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;

  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
#categories li:nth-child(6n + 4):last-child,
#categories li:nth-child(6n + 5):last-child,
#categories li:nth-child(6n + 6):last-child {
  margin-bottom: 0%;
}
#categories li * {
  position: absolute;
  visibility: visible;
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadein 7s forwards;
  -moz-animation: fadein 7s forwards;
  -ms-animation: fadein 7s forwards;
  -o-animation: fadein 7s forwards;
  animation: fadein 7s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
