body {
  color: #222;
}

.footer-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: white;
}

.linkset-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  margin: 0 auto;
}

.link-container {
  background: white;
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.contacts-container {
  display: flex;
  justify-content: space-around;
}

.contacts-container__contact {
  color: #222;
}

.contacts-container__contact *,
.contacts-container__contact *:hover,
.contacts-container__contact *:visited,
.contacts-container__contact *:link {
  text-decoration: none;
  color: #222;
}

@media(max-width:600px) {
  .linkset-container {
    width: 90%;
  }
}

@media(max-width: 350px) {
  h1 {
    font-size: 3.55285rem !important;
    line-height: 2.675rem !important;
    margin-bottom:1.625rem !important;
    margin-top: 0px !important;
  }
  .linkset-container {
    width: 90%;
  }
  .link-container {
    width: 80px;
  }
  .link-container__link-image {
    max-width: 100%;
  }
}
